body { background: #fff; }

#page { margin: 0 auto; }
#top-navigation, #header, #navigation, div.messages, #breadcrumb, #footer { margin: 0 20px; }

#top-navigation { background: #03b2c8; font-size: 11px; line-height: 15px; text-transform: uppercase; }
#top-navigation a { color: #fff; padding: 0 5px; margin: 0 5px; }
#top-navigation a:hover { background: #999; text-decoration: none; }

#secondary-menu, #top-navigation .sf-menu { float: right; margin-right: 5px; }
#secondary-menu a.active { background: #999; }

#header { padding: 10px 0; }
.no-secondary-menu #header { border-top: 5px solid #03b2c8; }

#logo-title { float: left; }
#logo { float: left; line-height: 0; padding-top: 2px; }
.with-site-name #logo { margin-right: 20px; }
#name-and-slogan { float: left; }
.no-site-name #logo, .no-site-name #name-and-slogan { float: none; }

#site-name { font-family: Verdana, Tahoma; font-size: 36px; line-height: 40px; font-weight: normal; text-transform: uppercase; }
#site-name a { color: #333; }
#site-name a:hover { color: #999; text-decoration: none; }

#site-slogan { font-size: 0.91667em; line-height: 1.8182; text-transform: uppercase; }

#header-region { float: right; padding-top: 10px; }

#navigation { text-transform: uppercase; background: #999; color: #fff; margin-bottom: 20px; }
#navigation a { color: #fff; padding: 2px 10px; margin: 0 10px; }
#navigation a:hover { background: #03b2c8; text-decoration: none; }
#navigation a.active { background: #03b2c8; color: #fff; }

#navigation .sf-menu  { float: left; }
#navigation .sf-menu ul { background: #fff; text-transform: uppercase; margin: 0 0 0 10px; padding: 0; width: 132px; }
#navigation .sf-menu ul li { list-style: none; width: 132px; }

#navigation .sf-menu ul ul { margin: -28px 0 0 132px; border-top: 2px solid #999; }
#navigation .sf-menu ul a { color: #333; width: 120px; margin: -2px 0 0; padding: 2px 5px; border: 2px solid #999; }
#navigation .sf-menu ul a:hover, #navigation .sf-menu ul a.active:hover { background: #03b2c8; color: #fff; }
#navigation .sf-menu ul a.active { background: #fff; color: #333; }

#navigation .feed-icon { float: right; display: block; margin: 0; padding: 4px 0; line-height: 0; }
#navigation .feed-icon:hover { background: transparent; }
#navigation .feed-icon img { padding-right: 4px; }

div.messages { margin-bottom: 20px; }
.breadcrumb { padding-bottom: 0; }

#main-wrapper { margin: -20px 2px 0; }
#main-wrapper { background: transparent url('images/content.png') repeat-y scroll left top; }
#main-wrapper-1 { background: transparent url('images/contenttop.png') no-repeat scroll left top; }
#main-wrapper-2 { background: transparent url('images/contentbot.png') no-repeat scroll left bottom; padding-left: 30px; }
#main-wrapper-3 { background: transparent url('images/content.png') repeat-y scroll right bottom; }
#main-wrapper-4 { background: transparent url('images/contenttop.png') no-repeat scroll right top; }
#main-wrapper-5 { background: transparent url('images/contentbot.png') no-repeat scroll right bottom; padding: 40px 38px 40px 8px; min-height: 300px; }

#page-title { font-weight: normal; }
ul.primary, ul.primary li, ul.primary li a { padding-top: 2px; padding-bottom: 3px; }

#footer { color: #777; padding-bottom: 20px; }
#footer p { margin-top: 0; }

.block { margin-bottom: 20px; }
.block-title { border-bottom: 2px solid #03b2c8; text-transform: uppercase; font-size: 1em; }
#footer .block-title { border-width: 0; color: #666; }
#footer .block { margin-bottom: 0; }

ul.menu, ul.menu li { list-style: none; list-style-image: none; /* IE6 */}
ul.menu { margin: 0; padding: 0; }
ul.menu li { margin: 0; padding: 0; }

ul.menu ul { padding-left: 2em; }
ul.menu ul li.expanded { list-style-image: url('images/menu-expanded.png'); }
ul.menu ul li.collapsed { list-style-image: url('images/menu-collapsed.png'); }
ul.menu ul li.leaf { list-style-image: url('images/menu-leaf.png'); }

ul.menu a { border-bottom: 1px solid #666; border-top: 1px solid #666; margin-top: -1px; padding: 5px 0 4px; display: block; text-decoration: none; }
ul.menu li.first a { border-top: 0; }
ul.menu li.first ul a { border-top: 1px solid #666; }
ul.menu a:hover { background: #03b2c8; color: #fff; text-decoration: none; }
ul.menu a.active { color: #333; font-weight: bold; }
ul.menu a.active:hover { background: #03b2c8; color: #fff; }

.node-title { font-size: 1.83333em; line-height: 1.36364; font-family: Times New Roman, Verdana, Arial, Sans-Serif; font-weight: normal; color: #333; }
.node-title a { color: #333; }
.node .submitted { color: #666; font-size: 0.91667em; line-height: 1.8182; text-transform: uppercase; }
.node .submitted img { height: 20px; margin: 0 5px 0 0; float: left; }
.node .field-name-field-image { padding: 5px; background: #e6e6e6; line-height: 0; }

.node-teaser { margin-bottom: 40px; }
.node-teaser .field-name-field-image { float: left; margin: 0 10px 10px 0; }

.node-full .submitted { margin-bottom: 20px; }
.node-full .field-name-field-image { float: right; margin: 0 0 10px 10px; }

ul.inline li.first { padding-left: 0; }
ul.inline li.last { padding-right: 0; }

#comments h2.title { border-bottom: 2px solid #03b2c8; text-transform: uppercase; font-size: 1em; margin-bottom: 18px; }
.comment { margin-bottom: 20px; padding: 9px; border: 1px solid #e8e8e8; background: #f6f6f6; } 
.comment .user-picture { float: left; margin: 0 10px 0px 0; line-height: 0; }
.comment .user-picture img { height: 40px; }
.comment ul.links { display: block; text-align: right; }

.password-strength { width: 15em; }
