a { text-decoration: underline; }
#top-navigation a, #navigation a, #site-name a, .breadcrumb a, .node-title a, .comment a.permalink { text-decoration: none; }

a { color: #216f53; }

#top-navigation,
#navigation a:hover, #navigation a.active, 
#navigation .sf-menu ul a:hover, #navigation .sf-menu ul a.active:hover,
ul.menu a:hover, ul.menu a.active:hover
{ background-color: #3EB489; }

.no-secondary-menu #header, .block-title, 
#comments h2.title
{ border-color: #3EB489; }
