a { color: #d06717; }

#top-navigation,
#navigation a:hover, #navigation a.active, 
#navigation .sf-menu ul a:hover, #navigation .sf-menu ul a.active:hover,
ul.menu a:hover, ul.menu a.active:hover
{ background-color: #f3791b; }

.no-secondary-menu #header, .block-title, 
#comments h2.title
{ border-color: #f3791b; }
