/***********************************************************
*                           RESET                          *
************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; 
font-size: 100%; vertical-align: baseline; background: transparent; } body { 
line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } 
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: 
none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
tr,th,td { vertical-align: baseline; }

/***********************************************************
*                        HTML ELEMENTS                     *
************************************************************/

body
{
  font-family: Arial, Tahoma, Verdana; 
  line-height: 1.66667;
  font-size: 75%;  /* 100% = 16px */
  color: #333;
  text-align: justify; 
}
html>body { font-size: 12px; /* for non-IE */}

h1 { font-family: Times New Roman, Verdana, Arial, Sans-Serif; }
h2,h3,h4,h5,h6 { font-family: Arial, Tahoma, Verdana; }

h1 { font-size: 1.83333em; line-height: 1.36364; } /* 22px */
h2 { font-size: 1.5em; line-height: 1.66667; } /* 18px */
h3 { font-size: 1.16667em; line-height: 1.42857; } /* 14px */
h4 { font-size: 1em; line-height: 1.66667; } /* 12px */
h5 { font-size: 0.83333em; line-height: 2; } /* 10px */
h6 { font-size: 0.75em; line-height: 1.1111; } /* 9px */

p { margin: 1.66667em 0; }
p { _overflow: visible; _height: 1%; } /* IE6 italics bug */

ul, ol, dl { margin: 0; }
ul ul, ol ol, ul ol, ol ul { margin: 0 0; }

ul, ol { margin-left: 0; padding-left: 2em; }
ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

a { color: #017F8D; text-decoration: none; }
a:link {}
a:visited {}
a:hover { text-decoration: underline; }
a:focus {}
a:active {}

img { border: 0; }
fieldset { border: 1px solid #ccc; padding: 9px; }

blockquote { margin: 0px 25px 18px 25px; padding: 0px 25px 0px 10px; background: #f0f0f0; border-top: 1px solid #111; border-bottom: 1px solid #111; font-style: italic; }
code { display: block; background: #f0f0f0; border-left: 1px solid #111; padding: 10px 10px 10px 9px; }

table { border-collapse: collapse; border-spacing: 0; }
table, th, td { border: 1px solid #111; }
th, td { padding: 5px; }
th, thead th { font-weight: bold; color: #111; background: #DDD; }
td, tbody td { background: #F0F0F0; }

dl {}
dl dt {}
dl dd { padding-left: 2em; }
