#page { width: 560px; }
.one-sidebar #page { width: 800px; }
.two-sidebars #page { width: 1040px; }

#content { float: left; display: inline; width: 480px; margin-left: 0; margin-right: -480px; }
.sidebar-second #content { margin-left: 0; margin-right: -480px; }
.sidebar-first #content { margin-left: 240px; margin-right: -720px; }
.two-sidebars #content { margin-left: 240px; margin-right: -720px; }

#sidebar-first { float: left; display: inline; width: 240px; margin-left: 0; margin-right: -240px; }
#sidebar-second { float: left; display: inline; width: 240px; margin-left: 480px; margin-right: -640px; }
.two-sidebars #sidebar-second { margin-left: 720px; margin-right: -960px; }

#sidebar-first .section { margin: 10px 20px 0 0; }
#sidebar-second .section { margin: 10px 0 0 20px; }

.two-sidebars-shrink #page { width: 1000px; }
.two-sidebars-shrink #content { margin-left: 220px; margin-right: -700px; }
.two-sidebars-shrink #sidebar-first { width: 220px; margin-left: 0; margin-right: -220px; }
.two-sidebars-shrink #sidebar-second { width: 220px; margin-left: 700px; margin-right: -920px; }
