#page { width: 560px; }
.one-sidebar #page { width: 800px; }
.two-sidebars #page { width: 1040px; }

#content { float: left; display: inline; width: 480px; margin-left: 0; margin-right: -480px; }
#sidebar-wrapper { float: left; display: inline; margin-left: 480px; }
.one-sidebar #sidebar-wrapper { margin-right: -720px; }
.two-sidebars #sidebar-wrapper { margin-right: -960px; }

#sidebar-first { float: left; display: inline; width: 240px; margin-left: 0; margin-right: -240px; }
#sidebar-second { float: left; display: inline; width: 240px; margin-left: 0; margin-right: -240px; }
.two-sidebars #sidebar-second { margin-left: 240px; margin-right: -480px; }

#sidebar-first .section, #sidebar-second .section { margin: 10px 0 0 20px; }

.two-sidebars-shrink #page { width: 1000px; }
.two-sidebars-shrink #sidebar-wrapper { margin-right: -920px; }
.two-sidebars-shrink #sidebar-first { width: 220px; margin-left: 0; margin-right: -220px; }
.two-sidebars-shrink #sidebar-second { width: 220px; margin-left: 220px; margin-right: -440px; }
